.grid-x {
  border-radius: 5px;
  display: grid;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  grid-auto-flow: column;
  grid-auto-columns: 13%;
  overscroll-behavior-inline: contain;
  gap: 0.25rem;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.scroll-inline {
  scroll-snap-type: inline mandatory;
}
.scroll-inline > * {
  scroll-snap-align: start;
}

.panel-title {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.g-card {
  overflow: hidden;
}
.g-card img {
  border-radius: 6px;
  height: auto;
  width: 100%;
  cursor: pointer;
  object-fit: cover;
}
.g-card img:hover {
  opacity: 0.8;
  transition: 0.5s;
  transform: scale(1.1);
}
.release-date {
  padding-top: 10px;
  font-size: 0.8em;
  color: #999;
}
@media (max-width: 768px) {
  .grid-x {
    grid-auto-columns: 8rem;
    grid-template-columns: repeat(auto-fill, minmax(7rem));
  }
}
